$primary: #5A98FA;
$accent: #FFBE4B;
$dark-gray: #3C4554;
$light-gray: #F9FAFC;

body, * {
    color: $dark-gray;
}

#main > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
}

#document-list {
    width: 250px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 1rem;
        cursor: pointer;

        border-left: 10px solid transparent;

        transition: background-color 0.3s ease-in-out;

        &:hover {
            background: $light-gray;
        }

        &.active {
            border-color: $primary;
        }

        &.add-document {
            border: 0;
            padding: 0;

            button {
                padding: 1rem 1rem 1rem 0;
                width: 100%;
                text-align: left;
                cursor: pointer;
                border: 0;
                background: none;

                &:before {
                    content: "+";
                    width: calc(10px + 1rem);
                    display: inline-block;
                    text-align: center;
                }
            }
        }
    }
}

#current-document {
    height: 100%;
    width: calc(100% - 250px);

    padding: 1rem;
    box-sizing: border-box;

    box-shadow: -2px 0px 5px $dark-gray;

    h1 {
        input {
            border: none;
            border-bottom: 1px solid transparent;

            &:focus {
                border-bottom: 1px dotted $dark-gray;
            }
        }
    }

    .body {
        display: flex;

        > textarea, > article {
            width: 50%;
        }

        > textarea {
            resize: vertical;
        }
    }
}