$primary: #5A98FA;
$accent: #FFBE4B;
$danger: #FF4B4B;
$dark-gray: #3C4554;
$light-gray: #F9FAFC;

$sans-serif: sans-serif;

body, * {
    color: $dark-gray;
}

#main > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
}

#document-list {
    width: 250px;
    height: 100%;
    overflow-y: auto;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 1rem 1rem 1rem 0.25rem;
        cursor: pointer;

        border-left: 1.5rem solid transparent;
        border-bottom: 1px solid $dark-gray;

        transition: background-color 0.3s ease-in-out;

        &:hover {
            background: $light-gray;
        }

        &.active {
            border-left-color: $primary;
        }

        &.add-document {
            border: 0;
            padding: 0;

            button {
                padding: 0;
                width: 100%;
                text-align: left;
                cursor: pointer;
                border: 0;
                background: none;

                &:before {
                    content: "+";
                    width: 1.5rem;
                    display: inline-block;
                    text-align: center;
                    color: white;
                    background: $accent;
                    margin-right: 0.25rem;
                    padding: 1rem 0;
                }
            }
        }
    }
}

#current-document {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: hidden;

    padding: 1rem;
    box-sizing: border-box;

    box-shadow: -2px 0px 5px $dark-gray;

    font-family: noticia-text, serif;

    header {
        h1 {
            display: inline-block;
            float: left;

            input {
                border: none;
                border-bottom: 1px solid transparent;

                &:focus {
                    border-bottom: 1px dotted $dark-gray;
                }
            }
        }

        time {
            float: right;
            clear: right;

            font-family: $sans-serif;
            font-style: italic;

            color: $dark-gray;
        }

        nav {
            float: left;
            margin-top: 2px; /* Align button borders with the title border */

            font-family: $sans-serif;
            font-size: 2rem;

            button {
                vertical-align: bottom; /* Align button borders with the title border */
                font-size: 1rem;
                border: 0;
                background: none;
                color: $dark-gray;
                border-bottom: 1px dotted $dark-gray;

                &.delete {
                    color: $danger;
                    border-bottom-color: $danger;
                }
            }
        }
    }

    .body {
        display: flex;
        position: absolute;
        top: 5.667rem;
        left: 1rem;
        right: 0;
        bottom: 0;

        > textarea, > article {
            width: 50%;
            flex: 1;
        }

        > textarea {
            resize: vertical;
            font-family: source-code-pro, monospace;
            padding-right: 1rem;
            border: 0;
            border-right: 1px solid $dark-gray;
        }

        > article {
            padding-left: 1rem;
            border-left: 1px solid $dark-gray;
            overflow-y: auto;

            p:first-child {
                margin-top: 0;
            }
        }
    }
}